*{
  padding: 0;
  margin: 0;
}
a{
  list-style-type: none;
}

:root{
  --primary-font:'Nunito', sans-serif;
  --rare-font:'Open Sans', sans-serif;
  --primary-color:#5F35F5;
  --text-color:#11175D;
}
.authenticationpage{
  display: flex;
}
.authenticationpage .left{
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.authenticationpage .right{
  width: 50%;
  height: 100vh;
}
.authenticationpage .bg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-container{
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.text-container h2{
color:var(--text-color);
font-family: var(--primary-font);
font-size: 34px;
font-weight: 700;
margin-bottom: 13px;
}
.text-container p{
color: rgba(0, 0, 0, 0.5);
font-family: var(--primary-font);
font-size: 20px;
font-weight: 400;
margin-bottom: 60px;
}
.text-container .text{
  width: 80%;
  height:  82px;
  margin: 25px 0px 10px 0px;
}
.text-container button{
  width: 80%;
  height: 68px;
  color: #FFF;
  font-family: var(--primary-font);
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 20px;
  border-radius: 85px;
  -webkit-border-radius: 85px;
  -moz-border-radius: 85px;
  -ms-border-radius: 85px;
  -o-border-radius: 85px;
}
.text-container .loginbtn{
  width: 80%;
  height: 68px;
  color: #FFF;
  font-family: var(--primary-font);
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 20px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}
.text-container .bottomtext{
  color: var(--text-color);
  font-family:var(--rare-font);
  font-size: 14px;
  font-weight: 400;
  }
.text-container .bottomtext span{
color: #EA6C00;
font-family:var(--rare-font);
font-size: 14px;
font-weight: 700;
border: none;
}
.eye {
  font-size: 26px;
  position: absolute;
  top: 475px;
  right: 70px;
}
.google{
  height: 100px;
  width: 400px;
  display: flex;
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 12px;

}
.glogo{
  width: 40%;
  object-fit: contain;
  margin: 0 auto;
  cursor: pointer;
}
.google p {
  text-align: center;
  margin-top: 35px;
}
.forgetpage{
  background-color:antiquewhite;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgetbox{
  background-color: #FFF;
  padding: 10px;
  width: 20%;
  text-align: center;
}
.forgetbox button{
 margin: 17px;
}
.forgetbox h3{
  margin: 17px;
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 32px;
}
.sidebar{
  background-color: #9196cf;
  height: 95vh;
  width: 85%;
  text-align: center;
  margin: auto;
  margin-top: 2.5vh;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.profilepicture{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.sidebar h1{
  font-family: var(--primary-font);
  font-size: 20px;
  color: #FFF;
  font-weight: 600;
}
.sidebar ul li{
  margin: 50px;
  list-style: none;
}
.icons{
  font-size: 40px;
  color: #FFF;
  cursor: pointer;
}
.active{
  position: relative;
  z-index: 2;
}
.active::before {
  content: "";
  position: absolute;
  top: -16px;
  left: -30px;
  width: 210px;
  height: 76px;
  background: #11175db4;
  z-index: -1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.box{
  width: 100%;
  height: 45vh;
  background: white;
  margin-top: 2.5vh;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: -1px 2px 23px -4px rgba(0,0,0,0.48);
-webkit-box-shadow: -1px 2px 23px -4px rgba(0,0,0,0.48);
-moz-box-shadow: -1px 2px 23px -4px rgba(0,0,0,0.48);
overflow-y: scroll;
}
.box h2{
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: 800;
  color: black;
}
.box .list{
  display: flex;
  padding: 15px;
  align-items: center;
  column-gap: 15px;
  border-bottom: 1px solid rgba(181, 172, 172, 0.435);
  
}
.box .list h3{
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 600;
}
.box .list h4{
  font-family: var(--primary-font);
  font-size: 15px;
  font-weight: 400;
  color: rgba(77, 77, 77, 0.75);
}
.box button{
  display: block;
  padding: 5px 22px;
  border: none;
  font-family:var(--rare-font);
  font-size: 15px;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
  background-color: #9196cf;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.box .list:last-child{
  border-bottom: 0;
}
.boximg{
  height: 80px;
  width: 80px;
  object-fit: contain;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.rejectbtn{
  display: block;
  padding: 5px 22px;
  border: none;
  font-family:var(--rare-font);
  font-size: 15px;
  font-weight: 800;
  line-height: normal;
  cursor: pointer;
  color: #9196cf;
  border: 1px solid #9196cf;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: inline-block;
  margin: 0px 5px;
}